form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.form-group {
  margin: 8px;
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .05);
}

label {
  margin: 12px;
}

button {
  margin: 5px;
}
