<h1 class="display-4">Select User</h1>
<div>
  <span *ngIf="!users">
    <div class="spinner-border">
      <span class="sr-only">Loading...</span>
    </div>
  </span>

  <select class="form-control" *ngIf="users" [(ngModel)]="selectedUser" (ngModelChange)="userSelected()">
    <option *ngFor="let u of users" [ngValue]="u">{{u.name}}</option>
  </select>
</div>

<hr>

<form *ngIf="selectedUser">
  <div [formGroup]="userForm">
    <h2>User Information</h2>
    <div class="form-group">
      <label for="id">
        <p>Id:</p>
        <input class="form-control" name="id" formControlName="id" readonly>
      </label>

      <label for="username">
        <p>Username:</p>
        <input class="form-control" name="username" formControlName="username">
      </label>
    </div>

    <div class="form-group">
      <label for="firstname">
        <p>First Name:</p>
        <input class="form-control" name="firstname" formControlName="firstName">
      </label>

      <label for="lastname">
        <p>Last Name:</p>
        <input class="form-control" name="lastname" formControlName="lastName">
      </label>
    </div>
  </div>
  <div [formGroup]="profileForm">
    <h2>Profile</h2>
    <div class="form-group">
      <label for="height">
        <p>Height:</p>
        <input class="form-control" name="height" formControlName="height">
      </label>

      <label for="weight">
        <p>Weight:</p>
        <input class="form-control" name="weight" formControlName="weight">
      </label>
    </div>

    <div class="form-group">
      <label for="address">
        <p>Address:</p>
        <input class="form-control" name="address" formControlName="address" readonly>
      </label>
    </div>
  </div>
  
  <div class="btn-group">
    <button class="btn btn-primary" [disabled]="!formHasChanged" (click)="onSubmit()">Save</button>
    <button class="btn btn-primary" [disabled]="!formHasChanged" (click)="reset()">Reset</button>
  </div>
</form>